        </main>

        <footer class="p-4 text-secondary border-top border-dark">
            &copy; COPYRIGHT 2025. ALL RIGHTS RESERVED.
        </footer>
        <script src="/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
