* {
    filter: contrast(1);
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
}

video {
    width: 100%;
}

#imagen-ev {
    width: 10%;
}