<!DOCTYPE html>
<html class="h-100 w-100">
<%- include("partials/head", {title: `Error ${errorCode} - Zap`}) %>
<body class="h-100 w-100 bg-zapgrey">
    <div class="h-100 w-100 d-flex flex-column align-items-center justify-content-center">
        <h1 id="nav-title" class="bbh-sans-bartle-regular mx-4 my-0 h-1"><%= errorCode %></h1>
        <div> <%= errorMessage %> </div>
    </div>
</body>
</html>
