* {
    filter: contrast(1);
    padding: 0;
    margin: 0;
}

html::-webkit-scrollbar {
    display: none;
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.bbh-sans-bartle-regular {
    font-family: "BBH Sans Bartle", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.inter-regular {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#nav-title {
    -webkit-text-stroke: 1px black;
}

.nav-item a.active {
    background-color: black;
    color: white !important;
}

.nav-item:hover {
    background-color: rgb(244, 244, 244);
}

.external-link:hover {
    background-color: #b01131 !important;
    color: rgb(244, 244, 244) !important;
}

.bg-zapgrey {
    background-color: rgb(244, 244, 244);
}

.nav-link {
    color: black !important;
}

main {
    min-height: 100vh;
}

video {
    width: 100%;
}

#imagen-ev {
    width: 75%;
}

.error {
    display: none;
}

input {
    outline: none;
    border-style: solid;
    border-radius: 4px;
}

#passwordInput:invalid:not(:placeholder-shown) {
    border-color: red;
}
#passwordInput:valid {
    border-color: green;
}

#passwordInput {
    border-color: #ccc;
}