* {
    padding: 0;
    margin: 0;
}

:root {
    color-scheme: light;
    --bg: #f6f6f6;
    --text: #1c1c1c;
    --progress: #1c1c1c;
    --muted: #e9e9e9;
    --nav-bg-hover: #e9e9e9;
    --nav-active-bg: #1c1c1c;
    --nav-active-text: #e9e9e9;
    --button-color: #e9e9e9;
    --button-bg: #1c1c1c;
    --button-hover: #3b3b3b;
}

[data-theme="dark"] {
    color-scheme: dark;
    --bg: #1c1c1c;
    --text: #e9e9e9;
    --progress: #bfbfbf;
    --muted: #232323;
    --nav-bg-hover: #2c2c2c;
    --nav-active-bg: #e9e9e9;
    --nav-active-text: #1c1c1c;
    --button-color: #1c1c1c;
    --button-bg: #e9e9e9;
    --button-hover: #c5c5c5;
}

.border,
.border-bottom,
.border-end,
.border-top {
    border-color: var(--text) !important;
}

html::-webkit-scrollbar {
    display: none;
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body {
    background-color: var(--bg);
    color: var(--text);
}

.bbh-sans-bartle-regular {
    font-family: "BBH Sans Bartle", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.inter-regular {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

nav {
    background-color: var(--bg);
    border-bottom: 1px solid var(--text);
    color: var(--text);
}

#nav-title {
    color: var(--bg);
    -webkit-text-stroke: 1px var(--text);
}

.nav-item a.active {
    background-color: var(--nav-active-bg);
    color: var(--nav-active-text) !important;
}

.nav-item:hover {
    background-color: var(--nav-bg-hover);
}

.bg-zapgrey {
    background-color: var(--muted);
}

.nav-link,
.nav-link:hover {
    color: var(--text);
}

main {
    min-height: 100vh;
}

video {
    width: 100%;
}

#imagen-ev {
    width: 75%;
}

.error {
    display: none;
}

input {
    outline: none;
    border-style: solid;
}

.form-control:focus {
    box-shadow: none !important;
}

.btn-dark {
    font-weight: bold;
    color: var(--bg);
    background-color: var(--button-bg);
}

.btn-dark:hover {
    color: var(--bg);
    background-color: var(--button-hover);
}

.btn-danger {
    color: brown;
    background-color: var(--muted);
}

.btn-white {
    font-weight: bold;
    color: var(--text);
    background-color: var(--bg);
}

.btn-white:hover {
    color: var(--button-hover);
    background-color: var(--bg);
}

.bg #passwordInput:invalid:not(:placeholder-shown) {
    border-color: red;
}

#passwordInput:valid {
    border-color: green;
}

#passwordInput {
    border-color: #ccc;
}

button[type="submit"] {
    background-color: var(--button-bg);
    color: var(--button-color);
}

#user-container{
    height: 350px;
    overflow-y: auto;
}

.table {
    background-color: var(--bg) !important;
    color: var(--text) !important;
    border: 1px solid var(--text) !important;
    border-collapse: separate;
    border-spacing: 0;
}

.table-striped>tbody>tr:nth-of-type(odd)>* {
    background-color: rgba(255, 255, 255, 0.03);
    color: var(--text);
}

#theme-toggle {
    width: 3rem;
    height: 2rem;
    background-color: var(--muted);
    position: relative;
}

#theme-img {
    position: absolute;
    top: 6px;
    left: 6px;
    background-color: var(--muted);
    width: 24px;
    height: 24px;
    transition: left 100ms ease;
}

#theme-toggle.is-right #theme-img {
    left: calc(100% - 6px - 24px);
}

#theme-toggle {
    padding: 0.375em 2em;
    height: 2.25em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--text) !important;
}

#signup-btn {
    height: 2.25em;
}

.progress-bar-striped {
    background-color: var(--progress);
}

input,
textarea,
select {
    color: var(--text) !important;
    background-color: var(--bg) !important;
}

#registroSection {
    box-shadow: -6px 6px 0px var(--text);
}

.modal-content{
    background-color: var(--bg);
    color: var(--text);
}

#accessibility{
    background-color: var(--bg);
}